<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Text Editor</title>

    <link href="../users/css/bootstrap.min.css" rel="stylesheet">

    <link href="../users/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../users/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
    <link href="../users/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="../users/css/plugins/summernote/summernote-bs4.css" rel="stylesheet">
    <link href="../users/css/animate.css" rel="stylesheet">
    <link href="../users/css/style.css" rel="stylesheet">


</head>

<body>

    <div id="wrapper">

        <%include ../partials/users/left-sidebar%>

        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <div class="dropdown-messages-box">
                                <a class="dropdown-item float-left" href="profile.html">
                                    <img alt="image" class="rounded-circle" src="img/a7.jpg">
                                </a>
                                <div class="media-body">
                                    <small class="float-right">46h ago</small>
                                    <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                    <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a class="dropdown-item float-left" href="profile.html">
                                    <img alt="image" class="rounded-circle" src="img/a4.jpg">
                                </a>
                                <div class="media-body ">
                                    <small class="float-right text-navy">5h ago</small>
                                    <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                    <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a class="dropdown-item float-left" href="profile.html">
                                    <img alt="image" class="rounded-circle" src="img/profile.jpg">
                                </a>
                                <div class="media-body ">
                                    <small class="float-right">23h ago</small>
                                    <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                    <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="mailbox.html" class="dropdown-item">
                                    <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="mailbox.html" class="dropdown-item">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                    <span class="float-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <a href="profile.html" class="dropdown-item">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="float-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <a href="grid_options.html" class="dropdown-item">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="float-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="notifications.html" class="dropdown-item">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>


                <li>
                    <a href="login.ejs">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>

        </nav>
        </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Text Editor</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a>Forms</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <strong>Text Editor</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
            <div class="wrapper wrapper-content">
                <% include ../partials/messages %>
            </div>

            <div class="row">
                <div class="col-md-12">

                <label class="font-normal">Pick a category for your new page or create new one <a data-toggle="modal" data-target="#myModal5" href="add_page"> HERE</a></label><br>
                </div>
                <form  action="/pages/update_page" method="post">

                    <div class="col-md-4">
                        <div class="form-group">
                            <input id="page-title" name="pageTitle" type="text" value="<%= data.cf_page_title %>" class="form-control" name="pageTitle" >
                        </div>

                        <div class="form-group">
                            <textarea id="page-desc" name="pageDescription" type="text" class="form-control" name="pageDesc" >
                                <%= data.cf_page_description %>
                            </textarea>
                        </div>
                    </div>

                    <div class="col-md-4">
                    <div class="select-css">
                        <select name="category_id" required>
                                <option value=<%=selectedCategory[0]._id %> selected><%=selectedCategory[0].cf_page_category_name%></option>

                            <% for (let i = 0; i < allCategories.length; i++) {  %>
                                <% if(selectedCategory[0].cf_page_category_name === allCategories[i].cf_page_category_name) { %>
                                    <% continue; %>
                                    <% } %>
                            <option value=<%=allCategories[i]._id %> ><%=allCategories[i].cf_page_category_name %></option>

                            <% } %>

                        </select>
                    </div>
                    <input type="hidden" name="page_id" value="<%= data._id %>">
                </div>

                <div class="col-lg-12">
                <div class="ibox">
                    <div id="modal1">
                    <div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog"  aria-hidden="true">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title">Modal title</h4>
                                    <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                                </div>
                                <div class="modal-body">

                                    <p><strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                        printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                                        remaining essentially unchanged.</p>
                                    <div class="form-group"><label>Choose category name</label> <input id="catName" type="text" placeholder="Enter category name" class="form-control"></div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" id="closeModal" class="btn btn-white" data-dismiss="modal">Close</button>
                                    <button id="addCategory" type="button" data-dismiss="modal" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>

                    <div class="ibox-content no-padding">

                        <textarea id="editor" name="content" class="summernote">

                            <%= data.cf_page_content %>

                        </textarea>
                    </div>

                    <div class="col-md-4">
                        <button type="submit" class="btn btn-w-m btn-primary">Update page</button>
                    </div>
                    </form>

            </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">

                        <div class="ibox-content">


                            <h2>
                                Summernote
                            </h2>
                            <p>
                                Super Simple WYSIWYG Editor on Bootstrap
                            </p>

                            <div class="alert alert-warning">
                                Full documentation for Summernote.js, including examples and API calls, keybored shortcuts, PHP Examples, Django installation, and Rails (gem) integration can be found at:
                                <a href="http://summernote.org/deep-dive/">http://summernote.org/deep-dive/</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            </div>
        <div class="footer">
            <div class="float-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2018
            </div>
        </div>

        </div>
        </div>

    <!-- Mainly scripts -->
    <script src="../users/js/jquery-3.1.1.min.js"></script>
    <script src="../users/js/popper.min.js"></script>
    <script src="../users/js/bootstrap.js"></script>
    <script src="../users/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="../users/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="../users/js/inspinia.js"></script>
    <script src="../users/js/plugins/pace/pace.min.js"></script>
    <script src="../users/js/custom-script.js"></script>
    <!-- SUMMERNOTE -->
    <script src="../users/js/plugins/summernote/summernote-bs4.js"></script>
    <!-- Toastr -->
    <script src="../users/js/plugins/toastr/toastr.min.js"></script>
    <script src="../users/js/plugins/select2/select2.full.min.js"></script>
    <!-- Chosen -->
    <script src="../users/js/plugins/chosen/chosen.jquery.js"></script>



    <script>

        $(function(){
            $('#toggleSpinners').on('click', function(){

                $('#modal1').children('.modal-content').toggleClass('sk-loading');

            })

        })

        $(document).ready(function(){

            //Funkcija za proveru da li je kategorija izabrana. Ako nije button za publish je disable
            checkIfCatSelected();

            $('.summernote').summernote();

    });

        $("#closeModal").click(function(e){
            $('#catName').val('');
        });

                $("#addCategory").attr('disabled',true);
                $('#catName').keyup(function(){
                    if($(this).val().length !=0)
                        $("#addCategory").attr('disabled', false);
                    else
                        $("#addCategory").attr('disabled',true);
                })

            $("#addCategory").click(function(e){
                createNewPageCat();

            })

    </script>

</body>

</html>
